<html>
    <head>
        <title>Star Wars universe planets</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type=text/javascript src="{{ url_for('static', filename='js/stat.js') }}" defer></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    {% if mode %}
                    <a class="navbar-brand" href="/">Star Wars universe planets</a>
                    {% else %}
                    <a class="navbar-brand" href="/">Planet list</a>
                    {% endif %}
                </div>
                <ul class="nav navbar-nav">
                    <li><a href='#' data-toggle="modal" data-target="#statModal">Voting statistics</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{ user }}</li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    {% else %}
                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <div class="modal fade" id="statModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Voting statistics</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <th>Planet name</th>
                            <th>Received votes</th>
                            <tr class="voterows">
                                <td>no data yet</td>
                                <td>no votes yet</td>
                            <tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>