{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>{{ mode }}</h1>
    </div>
    <form class="col-xs-4" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="user" minlength="5" required>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" name="psw" minlength="5" required>
        </div>
        <button type="submit" class="btn btn-success">{{ mode }}</button>
        <a href='/'><input class="btn btn-primary" type="button" value="Cancel"></a>
    </form>
</div>

{% endblock %}